@font-face {
  font-weight: normal;
  font-family: 'proxima-nova';
  src: url('/assets/fonts/ProximaNova-Regular.otf') format('opentype');
}

@font-face {
  font-weight: bold;
  font-family: 'proxima-nova';
  src: url('/assets/fonts/Proxima Nova Bold.otf') format('opentype');
}
