@import './colors';

.black {
  color: $black;
}

.bg-black {
  background-color: $black;
}

.black1 {
  color: $black1;
}

.bg-black1 {
  background-color: $black1;
}

.white {
  color: $white;
}

.bg-white {
  background-color: $white;
}

.green1 {
  color: $green1;
}

.bg-green1 {
  background-color: $green1;
}

.green2 {
  color: $green2;
}

.bg-green2 {
  background-color: $green2;
}

.green3 {
  color: $green3;
}

.bg-green3 {
  background-color: $green3;
}

.green4 {
  color: $green4;
}

.bg-green4 {
  background-color: $green4;
}

.orange1 {
  color: $orange1;
}

.bg-orange1 {
  background-color: $orange1;
}

.orange2 {
  color: $orange2;
}

.bg-orange2 {
  background-color: $orange2;
}

.orange3 {
  color: $orange3;
}

.bg-orange3 {
  background-color: $orange3;
}

.t-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}
